html {
    box-sizing: border-box; /* 박스 모델(content,padding,border,margin)*/
    /* content-box는 영역의 크기를 지정할때 패딩과 테두를 제외한 content크기만을 계산 */
    /* border-box는 영역의 크기를 지정할때 패딩과 테두리를 포함한 content크기를 계산한다. */
    /* 일반적으로 인간은 컨텐츠 크기를 지정할때 패딩과 테두리도 포함한다. */      
    background-color: beige;      
}

body{
    display: flex;
    align-items: center; /*수직 정렬*/
    justify-content: center; /*수평 정렬*/
    min-height: 100vh; 
    /* 뷰포트의 높이를 100%를 최소높이로 지정 <- 가변적으로변하기위해서 */
    background-color: white;
    /* display:felx; 를 먹인태그는 부모태그가 되는거고 div 태그는 자식태그가 됩니다.*/
}


#wrapper {
  width: 420px;  
  /* box-shadow의 역할은 영역의 그림자를 설정 */
  /* 0px은 수평방향의 그림자 생성 */
  /* 4px은 수직방향으로 그림자를 생성 */
  /* 14px은 그림자의 블러값(그림자의 흐림도)를 적용 */
  /* rgba(0,0,0,2); 은 그림자 색깔 */
  box-shadow: 0px 4px 14px rgba(0,0,0,2);
}

h2 {
    text-align: center;
    margin-top: 20px;
}
